// body {
//     background: grey;
// }
//
// .col-lg-1 {
// background: red;
// }
//
// .col-lg-2 {
// background: aqua;
// }
//
// .col-lg-3 {
// background: green;
// }
//

main {
  overflow-x: hidden;
}

.overview-container {
    margin: 0 0;
    // margin-left: 24px;
    // margin-left: 4rem;
    // margin-right: 4rem;
    display: flex;
    justify-content: center;
}

ul {
  // width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 4rem;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  // margin-left: 100px;

  li {
    flex: 0 0 auto;
    width: 30%;
    margin: 10px 38px;
    display: inline-block;
    flex-wrap: wrap;
    height: auto;
    a {
      padding: none;
      // transition: all 0.6s ease-in-out 0s;
      // -moz-transition: all 0.6s ease-in-out 0s;
      // -webkit-transition: all 0.6s ease-in-out 0s;
      // -o-transition: all 0.6s ease-in-out 0s;
    }

    // a:hover img {
    //   transform: scale(1.03);
    //   -moz-transform: scale(1.03);
    //   -webkit-transform: scale(1.03);
    //   -o-transform: scale(1.03);
    // }


    .overview-caption {
      padding-top: 12px;
      max-width: 500px;
    }

    img {
      width: 100%;
      // height: 60%;
      object-fit: cover;
      height: 60%;
      // transition: all 0.6s ease-in-out 0s;
      // -moz-transition: all 0.6s ease-in-out 0s;
      // -webkit-transition: all 0.6s ease-in-out 0s;
      // -o-transition: all 0.6s ease-in-out 0s;
    }

    p {
      color: #030617;
      font-size: 16px;
      opacity: 0.75;
    }

    h5 {
      color: #030617;
      font-size: 24px;
    }
  }
}

// Info Section

#row {
  margin-top: 6rem!important;
  padding-left: 4rem;
  padding-right: 2rem;
}

#row2 {
  margin-top: 6rem!important;
  padding-left: 4rem;
  padding-right: 2rem;
  margin-bottom: 12rem!important;
}

// .flex-column-reverse {
//   flex-direction: column-reverse !important;
// }

h1 {
  color: #030617;
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 600 !important;
}

h2 {
  color: #030617;
  font-size: 1.5rem;
  font-weight: 400 !important;
}

h4 {
  color: #030617;
  font-size: 24px;
      line-height: 1.3 !important;
}

p {
  color: #030617;
}

hr {
  border: 3px;
  border-top: 2px solid rgba(0, 0, 0, 1);
  max-width: 2rem;
}

#meta {
  padding-top: 1rem;
  // background: aqua;
}

.navbar {
  display: none;
}

.small {
  font-size: 16px;
  font-weight: 400;
  max-width: 200px;

  p {
    font-weight: 400;
    font-size: 18px!important;
  }
}

.link-briefing {
  margin-top: 16px;
  font-weight: 600;
  display: flex;
}

#briefing {
  min-width: 400px;
  p {
    font-size: 18px;
    font-weight: 400!important;
  }
  h5{
    font-size: 24px;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2560px) {

  .flex-md-row {
    flex-direction: row !important;
}
  .d-none{
    display: flex !important;
  }
    ul#overview-list {
        li {
          flex: 0 0 auto;
          width:25%;
            img {
                width: 100%;
                height: 66%;
            }
            .overview-caption {
              padding-bottom: 20px;
            }
        }
    }
    #briefing {
      min-width: 700px;
      max-width: 1000px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1799px) {

  .flex-md-row {
    flex-direction: row !important;
}
  .d-none{
    display: flex !important;
  }
    ul#overview-list {
        li {
          flex: 0 0 auto;
          width:40%;
            img {
                width: 100%;
                height: 66%;
            }
            .overview-caption {
              padding-bottom: 20px;
            }
        }
    }
    #briefing {
      min-width: 700px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {

  .flex-md-row {
    flex-direction: row !important;
}
  .d-none{
    display: flex !important;
  }
    ul#overview-list {
        li {
          flex: 0 0 auto;
          width: 40%;
          margin: 10px 38px 60px;
            img {
                width: 100%;
                height: 66%;
            }
            .overview-caption {
              padding-bottom: 20px;
            }
        }
    }
    #briefing {
      min-width: 600px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {

  .flex-md-row {
    flex-direction: row !important;
}
  .d-none{
    display: flex !important;
  }
    ul#overview-list {
        margin-top: 1rem;
        li {
          flex: 100%;
          margin: 10px 0px;
            img {
                width: 100%;
                height: 66%;
            }
            .overview-caption {
              padding-bottom: 20px;
            }
        }
    }
    #briefing {
      min-width: 0px;
      p {
        font-size: 16px;
      }
      h5{
        font-size: 20px;
        margin-bottom: 1rem;
      }
    }
    .small {
      font-size: 14px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 599px) {

  .flex-md-row {
    flex-direction: row !important;
}
  .d-none{
    display: flex !important;
  }

  h1 {
    color: #030617;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600 !important;
  }

  h2 {
    color: #030617;
    font-size: 1rem;
    font-weight: 400 !important;
  }

    ul#overview-list {
        margin-top: 1rem;
        li {
          flex: 100%;
          margin: 10px 0px;
            img {
                width: 100%;
                height: 60%;
            }
            p {
              color: #030617;
              font-size: 16px;
              opacity: 0.75;
            }

            h5 {
              color: #030617;
              font-size: 20px;
            }
            .overview-caption {
              padding-bottom: 2rem;
            }
        }
    }
    #briefing {
      min-width: 0px;
      p {
        font-size: 16px;
      }
      h5{
        font-size: 20px;
        margin-bottom: 1rem;
      }
    }
    .small {
      font-size: 14px;
    }
}
